<div class="home-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Início</h1>
        <app-search-input></app-search-input>
    </div>
    <div class="character-grid">
        <ng-container *ngFor="let character of characters"> 
            <app-card [data]="character"></app-card>
        </ng-container>
    </div>
    <mat-paginator [length]="totalCharacters"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
    <!-- <app-info-panel>
        <h2>Nada foi encontrado</h2>
        <p>Tente realizar uma nova busca.</p>
    </app-info-panel> -->
</div>

