/* You can add global styles to this file, and also import other style files */

:root {
    --creepster: 'Creepster', system-ui;
    --poppins: 'Poppins', sans-serif;

    --color-core-foreground: #0A0A0A;
    --color-core-background: #1F1F1F;
    --color-core-content-low: #A4A4A4;
    --color-core-content: #FAFAFA;
    --color-core-border: #3D3D3D;

    --measure-radius-s: 0.75rem;
}

body {
    margin: 0;
}

@import 'fonts';
@import 'mixins';
@import 'typography';
@import 'base';
@import 'layout';